apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "clickhouse.fullname" . }}-config
  labels:
    {{- include "clickhouse.labels" . | nindent 4 }}
data:
  # Основной конфигурационный файл ClickHouse
  config.xml: |
    <yandex>
      <logger>
        <level>info</level>
        <console>true</console>
      </logger>
      
      <listen_host>{{ .Values.config.listen_host }}</listen_host>
      
      <max_connections>{{ .Values.config.max_connections }}</max_connections>
      <keep_alive_timeout>{{ .Values.config.keep_alive_timeout }}</keep_alive_timeout>
      <uncompressed_cache_size>{{ .Values.config.uncompressed_cache_size }}</uncompressed_cache_size>
      <mark_cache_size>{{ .Values.config.mark_cache_size }}</mark_cache_size>
      
      <path>/var/lib/clickhouse/</path>
      <tmp_path>/var/lib/clickhouse/tmp/</tmp_path>
      <user_files_path>/var/lib/clickhouse/user_files/</user_files_path>
      
      <!-- Включение пользовательских конфигов -->
      <include_from>/etc/clickhouse-server/config.d/users.xml</include_from>
    </yandex>

  # Конфигурация пользователей и профилей
  users.xml: |
    <yandex>
      <!-- Профили настроек -->
      <profiles>
        <default>
          <max_memory_usage>10000000000</max_memory_usage>
          <use_uncompressed_cache>0</use_uncompressed_cache>
          <load_balancing>random</load_balancing>
        </default>
        {{- range $name, $profile := .Values.profiles }}
        <{{ $name }}>
          {{- range $key, $value := $profile }}
          <{{ $key }}>{{ $value }}</{{ $key }}>
          {{- end }}
        </{{ $name }}>
        {{- end }}
      </profiles>
      
      <!-- Квоты (ограничения) -->
      <quotas>
        <default>
          <interval>
            <duration>3600</duration>
            <queries>0</queries>
            <errors>0</errors>
            <result_rows>0</result_rows>
            <read_rows>0</read_rows>
            <execution_time>0</execution_time>
          </interval>
        </default>
      </quotas>
      
      <!-- Определение пользователей -->
      <users>
        {{- range $name, $user := .Values.config.users }}
        <{{ $name }}>
          <!-- 
            ВНИМАНИЕ: В production используйте sha256 хэши паролей
            Пример: <password_sha256_hex>хеш_пароля</password_sha256_hex>
          -->
          <password>{{ $user.password }}</password>
          <profile>{{ $user.profile }}</profile>
          <quotas>{{ $user.quotas }}</quotas>
          <networks>
            <ip>{{ $user.networks.ip }}</ip>
          </networks>
        </{{ $name }}>
        {{- end }}
      </users>
    </yandex>